/pratica1/exercicio4/Aula03/nbproject/private/
/pratica1/exercicio4/Aula03/build/
/pratica1/exercicio4/Aula03/dist/
/pratica2/JavaApplication3/nbproject/private/
/pratica2/Concessionaria/nbproject/private/
/pratica2/Concessionaria/build/
/pratica2/exercicio 3/exercicio3/nbproject/private/
/pratica2/exercicio 3/exercicio3/build/
/pratica3/exercicio_interface/nbproject/private/
/pratica3/exercicio_interface/build/
/pratica5/Swing/nbproject/private/
/pratica5/Swing/build/
/pratica5/SecondTime/nbproject/private/
/pratica5/SecondTime/build/
/pratica5/JavaFXPodePa/nbproject/private/
/pratica5/JavaFXPodePa/dist/
/pratica5/JavaFXPodePa/build/
/pratica5/Projetinho/nbproject/private/
/pratica6/Projetinho/dist/
/pratica6/Projetinho/build/
/pratica6/projetinho/nbproject/private/
/pratica6/projetinho/dist/
/pratica6/projetinho/build/
/pratica7/SeiLa/nbproject/private/
/pratica7/Batata/nbproject/private/
/pratica7/Batata/build/
/pratica7/Exercicio1/nbproject/private/
/pratica7/Exercicio1/build/
/pratica7/Exercicio2/nbproject/private/
/pratica7/Exercicio2/build/
/pratica7/Exercicio2FX/nbproject/private/
/pratica7/Exercicio2FX/dist/
/pratica7/Exercicio2FX/build/
/pratica7/Exercicio2FX2/nbproject/private/
/pratica7/Exercicio2FX2/dist/
/pratica7/Exercicio2FX2/build/
/pratica7/JavaApplication3/nbproject/private/
/pratica7/TesteErro/nbproject/private/
/pratica7/TesteErro/build/
/pratica8/NemSei/nbproject/private/
/pratica8/OrganizandoJavaV2/nbproject/private/
/pratica8/Organizando/nbproject/private/
/pratica8/Organizando/build/
/pratica8/Organizando/dist/
/pratica9/BatataSQL/nbproject/private/
/pratica9/BatataSQL/build/
/pratica9/BatataInsert/nbproject/private/
/pratica9/BatataInsert/build/
/pratica9/MaisBatata/nbproject/private/
/pratica9/MaisBatata/build/
/pratica9/MaisBatata/dist/
/Atividade3/Atividade3/nbproject/private/
/Atividade3/Atividade3/build/
/Atividade3/Atividade3/dist/
/pratica10/ELuja/nbproject/private/